<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
  <td><%=h player.name %></td>
  <td><%=h player.team %></td>
  <td><%=h number_with_precision(player.AVG, 3) %></td>
  <td><%=h player.HR %></td>
  <td><%=h player.RBI %></td>
  <td><%=h player.RUNS %></td>
  <td><%=h player.SB %></td>
  <td><%=h number_with_precision(player.OPS, 3) %></td>
  <td><%=h player.GAMES %></td>
</tr>

