<% if Integer(params[:num]) == 0 %>
  <% params[:num] = ((Integer(params[:page]) - 1) * 25)%>
<% end %>

<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
  <% params[:num] = (Integer(params[:num]) + 1) %>
  <td><%= params[:num] %></td>

  <% if params[:field] == "name" %>
    <td class="current"><%=h player.name %></td>
  <% else %>
    <td><%=h player.name %></td>
  <% end %>

  <% if params[:field] == "teamname" %>
    <td class="current"><%=h player.teamname %></td>
  <% else %>
    <td><%=h player.teamname %></td>
  <% end %>

  <% if params[:field] == "avg" %>
    <td class="current"><%=h  number_with_precision(player.avg) %></td>
  <% else %>
    <td><%=h  number_with_precision(player.avg) %></td>
  <% end %>

  <% if params[:field] == "hr" %>
    <td class="current"><%=h player.hr %></td>
  <% else %>
    <td><%=h player.hr %></td>
  <% end %>

  <% if params[:field] == "rbi" %>
    <td class="current"><%=h player.rbi %></td>
  <% else %>
    <td><%=h player.rbi %></td>
  <% end %>

  <% if params[:field] == "runs" %>
    <td class="current"><%=h player.runs %></td>
  <% else %>
    <td><%=h player.runs %></td>
  <% end %>

  <% if params[:field] == "sb" %>
    <td class="current"><%=h player.sb %></td>
  <% else %>
    <td><%=h player.sb %></td>
  <% end %>

  <% if params[:field] == "ops" %>
    <td class="current"><%=h number_with_precision(player.ops) %></td>
  <% else %>
    <td><%=h number_with_precision(player.ops) %></td>
  <% end %>

  <% if params[:field] == "games" %>
    <td class="current"><%=h player.games %></td>
  <% else %>
    <td><%=h player.games %></td>
  <% end %>

</tr>
