<h1>Editing player</h1>

<% form_for(@player) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :team %><br />
    <%= f.text_field :team %>
  </p>
  <p>
    <%= f.label :AVG %><br />
    <%= f.text_field :AVG %>
  </p>
  <p>
    <%= f.label :HR %><br />
    <%= f.text_field :HR %>
  </p>
  <p>
    <%= f.label :RBI %><br />
    <%= f.text_field :RBI %>
  </p>
  <p>
    <%= f.label :RUNS %><br />
    <%= f.text_field :RUNS %>
  </p>
  <p>
    <%= f.label :SB %><br />
    <%= f.text_field :SB %>
  </p>
  <p>
    <%= f.label :OPS %><br />
    <%= f.text_field :OPS %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @player %> |
<%= link_to 'Back', players_path %>