<h1>MLB Player Stats. from 1998</h1>

<table>
  <tr>
    <th>#</th>
    <th><% form_remote_tag :url => { :action => 'sort_name', :id => 1} do %>
	<%= submit_tag "Name" %>
    <% end %></th>

    <th><% form_remote_tag :url => { :action => 'sort_team', :id => 1} do %>
	<%= submit_tag "Team" %>
    <% end %></th>

    <th><% form_remote_tag :url => { :action => 'sort_avg', :id => 1} do %>
	<%= submit_tag "AVG" %>
    <% end %></th>

    <th><% form_remote_tag :url => { :action => 'sort_hr', :id => 1} do %>
	<%= submit_tag "HR" %>
    <% end %></th>

    <th><% form_remote_tag :url => { :action => 'sort_rbi', :id => 1} do %>
	<%= submit_tag "RBI" %>
    <% end %></th>
    
    <th><% form_remote_tag :url => { :action => 'sort_runs', :id => 1} do %>
	<%= submit_tag "Runs" %>
    <% end %></th>

    <th><% form_remote_tag :url => { :action => 'sort_sb', :id => 1} do %>
	<%= submit_tag "SB" %>
    <% end %></th>

    <th><% form_remote_tag :url => { :action => 'sort_ops', :id => 1} do %>
	<%= submit_tag "OPS" %>
    <% end %></th>
  </tr>
<% num = 0 %>
<% @players.each do |player| %>
  <tr>
    <td><%= num = num + 1 %></td>
    <td><%=h player.name %></td>
    <td><%=h player.team %></td>
    <td><%=h number_with_precision(player.AVG, 3) %></td>
    <td><%=h player.HR %></td>
    <td><%=h player.RBI %></td>
    <td><%=h player.RUNS %></td>
    <td><%=h player.SB %></td>
    <td><%=h number_with_precision(player.OPS, 3) %></td>

    <!--<td><%= link_to 'Show', player %></td>
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <td><%= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete %></td>
    -->
    
  </tr>
<% end %>
</table>

<br />

  <% form_remote_tag :url => { :action => 'clear_list', :id => 1} do %>
	<%= submit_tag "Clear List" %>
    <% end %>

<!--<%= link_to 'New player', new_player_path %>-->


